[email]
    username = "xx@163.com"
    password = "xx"
    dst0 = "xx@qq.com"
    dst1 = "xx@163.com"

[jpush]
    appKey = "xx"
    masterSecret = "xx"

[qiniu]
	bucket    = "xx"
	accessKey = "xx"
	secretKey = "xx"

[aliyunoss]
    endpoint        = "xx"
	accessKeyId     = "xx"
	accessKeySecret = "xx"
	bucketName      = "xx"
